# Database configuration
export DB_HOST=localhost
export DB_PORT=5432
export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_NAME=db
export NODE_ENV=development

# Authentication configuration
export BCRYPT_HASH_ROUND=123
export SECRET_KEY=HIGOR

export CLIENT_ID=eyJpZCI6IjdjNWJmYWM3LTJjZjItMTFlZi1hMzY0LTQyMDEwYTYwNjAwZCIsIm5hbWUiOiJQb3J0YWwgQ29uc3VsdGEgQnJhcyJ9
export CLIENT_SECRET=fsoPhJrCXbWZnQ24a0BkK1p9gxVmGuzYiEt57LADNewc6SIFRUH8qTOlvMyj3d

export VALUE_SCHEDULING=24.90
export VALUE_SCHEDULING_CNH=27.90
export SECRET_BOT_KEY=12345

export USERNAME_WEBHOOK=admin
export PASSWORD_WEBHOOK=admin
export SECRET_KEY_WEBHOOK=12345

export BOT_ENABLE=1